import re
import raven
import os
INSCRIPTION_URL = '{{ inscription_url }}'
EMAIL_HOST = '{{ sites[item].email_host }}'
SERVER_EMAIL = 'inscription@iedparis8.net'
DEFAULT_FROM_EMAIL = "nepasrepondre@iedparis8.net"
ADMINS = (
		('IED inscription ', 'inscription@iedparis8.net'),
		)

ALLOWED_HOSTS = ['{{ sites[item].url }}']
DEBUG = False
TEMPLATE_DEBUG = False
DATABASES = {
{% for database in sites[item].databases %}
    '{{ database }}': {
            'ENGINE': '{{ sites[item].databases[database].engine }}',
            'NAME': '{{ sites[item].databases[database].name }}',
            'USER': '{{ sites[item].databases[database].user }}',
            'PASSWORD': '{{ sites[item].databases[database].password }}',
            'HOST': '{{ sites[item].databases[database].host }}',
            'PORT': '{{ sites[item].databases[database].port|default('') }}',

    },
{% endfor %}
}
COMPOSANTE = '{{ COMPOSANTE }}'
VADS_SITE_ID = '{{ VADS_SITE_ID }}'
VADS_CERTIFICATE = '{{ VADS_CERTIFICATE }}'
VADS_CTX_MODE = '{{ VADS_CTX_MODE }}'
VADS_ACTION_MODE = '{{ VADS_ACTION_MODE }}'
VADS_CURRENCY = '{{ VADS_CURRENCY }}'
DOMAINE_PAYZEN_RESPONSE = '{{ DOMAINE_PAYZEN_RESPONSE }}'


RAVEN_CONFIG = {
    'dsn': '{{ raven_url }}',
}
LOGGING = {
    'version': 1,
    'disable_existing_loggers': True,
    'root': {
        'level': 'WARNING',
        'handlers': ['sentry'],
    },
    'formatters': {
        'verbose': {
            'format': '%(levelname)s %(asctime)s %(module)s %(process)d %(thread)d %(message)s'
        },
    },
    'handlers': {
        'sentry': {
            'level': 'ERROR',
            'class': 'raven.contrib.django.raven_compat.handlers.SentryHandler',
        },
        'console': {
            'level': 'DEBUG',
            'class': 'logging.StreamHandler',
            'formatter': 'verbose'
        }
    },
    'loggers': {
        'django.db.backends': {
            'level': 'ERROR',
            'handlers': ['console'],
            'propagate': False,
        },
        'raven': {
            'level': 'DEBUG',
            'handlers': ['console'],
            'propagate': False,
        },
        'sentry.errors': {
            'level': 'DEBUG',
            'handlers': ['console'],
            'propagate': False,
        },
    },
}
